[submodule "waf-toolchain-flags"]
	path = waftoolchainflags
	url = ../waf-toolchain-flags
[submodule "jack-tools"]
	path = tools
	url = ../jack-tools
[submodule "doc/doxygen-awesome-css"]
	path = doc/doxygen-awesome-css
	url = https://github.com/jothepro/doxygen-awesome-css.git
