[submodule "waf-autooptions"]
	path = autooptions
	url = ../waf-autooptions
[submodule "dbus/jack_control"]
	path = dbus/jack_control
	url = ../jack_control
[submodule "siginfo"]
	path = siginfo
	url = ../siginfo
[submodule "waftoolchainflags"]
	path = waftoolchainflags
	url = ../waf-toolchain-flags
