.lock*
.stamp_*
.DS_Store
__pycache__
*.dll
*.pyc
*.pkg
flake8.txt
codeBlocks
/android/.server/
/android/.client/
/build/
/man/*.1
/.waf*

# jack2 source tree for CI
/jack2/

# common release files
/destdir/
